body{
    font-family: 'Maven Pro', sans-serif;
}


#hea{
    text-align: center;
}
main{
    width: 100%;
    /* height:98%; */
    margin: 7% auto;
    text-align: center;
    background-color: rgb(226 255 243);
}

.addname{
    background-color: #004949;
    margin:20px auto;
    padding: 1% 0;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    
}

.addname2{
    background-color:teal;
    margin:20px auto;
    width: 25%;
    padding: 1% 0;
    border-radius: 2rem;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    
}




thead{
    background-color: rgb(48, 150, 150);
    color: white;
}

tbody{
    background-color: rgb(245, 255, 255);
}

table{
    margin:50px auto;
    width: 100%;
    border-radius: 2rem;
}

table,th,td{
    border-collapse: collapse;
    border:1px solid #000;
}

th,td{
    padding:5px;
}

#update-row{
    margin: 50px auto 50px auto;
}


 .topnav
{
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.8em;
    height:5em;
    z-index: 1;
    background-image: linear-gradient(to bottom left,rgb(48, 150, 150),#004949);
    display: flex;
}

.navbar{
    display: flex;
    margin-right: 10%;
    align-items: flex-end;
    font-size:1.5em;
    
}

.navbar ul{
    list-style-type: none;
    display: flex;
    padding: 0 0 0 0;
    
}

.navbar ul li{
    padding: 0 5.5% 0 0;
}

.navbar ul li:hover {
    font-size: 103%;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: white;
  }

a:link{
    text-decoration: none;
    color: white;
}
.name{
    margin: auto auto auto 1%;
    align-items: flex-end;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container-img {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #008cff;
    
  }